
#main{
    grid-area: main;
}
#side {
    grid-area: sidebar;
    background-color: #a7cfff;
    height: 100vh;
   
    
}

#header {
    grid-area: header;
    color: white;
   
}

h1 {
    background-color: transparent;
}

#wrapper-risk{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;   
}

#wrapper-investment{
    width: 90%;
    margin: auto;
}


body {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
      "sidebar header"
      "sidebar main";
      
    display: grid;
    margin: 0;
}