
#main{
    grid-area: main;
}

#header {
    grid-area: header;
    color: white;
}

h1 {
    background-color: transparent;
}

ul  {
    list-style: none;
}

#wrapper-survey{
    width: 50%;
    margin: auto;
    margin-bottom: 20px; 
    
}

body {
  
    grid-template-rows: 1fr 9fr;
    grid-template-areas:
      "header"
      "main";
      
    display: grid;
    margin: 0;
}