body {
    background-color: #008cff;
    font-family: 'Open Sans';
    
}

.wrapper {
    background-color: #f3f3f3;
    border: 0.8px solid black;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-size: 1.2em;
    padding: 20px;
}

input { 
    resize: none;
    height: 30px;
    border-radius: 5px;
    width: 100%;
    border: black solid 0.2px;
    font-family: 'Open Sans';
    font-size: 0.8em;
    font-weight: 300;
}

input:focus {
    outline: none;

}

button {
    background-color: #008cff;
    color: white;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-family: 'Open Sans';
    font-size: 0.8em;
    font-weight: 300;
    margin-top: 30px;
    
}

.heading {
    font-family: 'Open Sans';
}

.subheading {
    font-family: 'Open Sans';
    font-weight: 300;
}


