body {
    background-color: #08ccff;
    font-family: 'Open Sans';
    
}

.wrapper {
    background-color: #f3f3f3;
    border: 0.8px solid black;
    border-radius: 10px;
    font-family: 'Open Sans';
    
    padding: 20px;
}

textarea {
    resize: none;
    height: 30px;
    border-radius: 15px;
    width: 100%;
}

button {
    background-color: #008cff;
    color: white;
    height: 30px;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    font-size: 15px;
    
}

.subheading {
    font-family: 'Open Sans';
    
}


#wrapper-login {
    margin-left: 35%;
    margin-right: 35%;
    padding: 60px;
}

