body {
    background-color: #08ccff;
    font-family: 'Open Sans';
    
}
h1{
    border: none;
    font-size: 40px;
    font-weight: bold;
    background-color: #f3f3f3;
    text-align: center;
    padding: 35px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: block;
}

.wrapper {
    background-color: #f3f3f3;
    border: 0.8px solid black;
    border-radius: 10px;
    font-family: 'Open Sans';
    padding: 20px;
}

textarea {
    resize: none;
    height: 30px;
    border-radius: 15px;
    width: 100%;
}

button {
    background-color: #008cff;
    color: white;
    height: 30px;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    border: none;
    font-size: 18px;
}
button a{
    text-align: center;
    text-decoration: none;
    background-color: #008cff;
    color: white;
}
#register{
    margin-left: 11px;
}

.wrapper #forgotpw {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
}
.wrapper #forgotpw a{
    color: #08ccff;
    font-size: 16px;
}

.subheading {
    font-family: 'Open Sans';
    
}


#wrapper-login {
    margin-left: 35%;
    margin-right: 35%;
    padding: 60px;
}

